.grid{
    font-family: Arial;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4,1fr);
}
.card{
    border: 2px solid #6e6e6ee2;
    border-radius: 12px;
    padding: 12px;
    background: white; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.187);
}
.img{
    width: 100%;
    height: 380px;
    object-fit: contain;
}
.link{
    display:block;
    margin-bottom: 8px;
}
button{
    display: block;
    margin-bottom: 8px;
    background-color: rgba(155, 248, 124, 0.575);
    border-radius: 15px;
    border: 2px solid transparent;
    cursor: pointer;
}
button:hover{
    background-color: rgba(63, 227, 8, 0.575);
}
.thumbs {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    overflow-x: auto;
}
.thumb{
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.thumb.active{
    border-color: rgb(62, 231, 6);
}
.nav{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
a{
    text-decoration: none;   
}
a:link{
    color: rgba(240, 0, 0, 0.998);
}
a:visited{
    color: rgba(172, 8, 8, 0.5);
}
a:hover{
    color: rgb(213, 55, 66);
    text-decoration: underline;
}

a:active{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

@media (max-width: 900px){
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
    }
}