.grid{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4,1fr);
}
.card{
    border: 2px solid #6e6e6ee2;
    border-radius: 12px;
    padding: 12px;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.187);
    cursor: pointer;
}
.card:hover{
  transform: translateY(-10px);
  transition: 0.5s;
}
.img{
    width: 100%;
    height: 380px;
    object-fit: contain;
}
.link{
    display:block;
    margin-bottom: 8px;
}
button{
    display: block;
    margin-bottom: 8px;
    background-color: rgba(155, 248, 124, 0.575);
    border-radius: 15px;
    border: 2px solid transparent;
    cursor: pointer;
}

.thumbs {
    display: flex;
    gap: 8px;
    margin-top: 10px;
    overflow-x: auto;
}
.thumb{
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.thumb.active{
    border-color: rgb(62, 231, 6);
}
.nav{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
a:link{
    color: rgba(255, 2, 2, 0.998);
}
a:visited{
    color: rgba(172, 8, 8, 0.5);
}
a:hover{
    color: rgb(213, 55, 66);
    text-decoration: underline;
}

a:active{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
.what{
  background-color: rgba(4, 250, 37, 0.71);
  font-size: 18px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
what:hover{
  background-color: rgba(83, 225, 104, 0.71);
}
.tele{
  background-color: rgba(4, 102, 250, 0.71);
  font-size: 18px;
  width: 100%;
  padding: 10px;
}
.like{
    background: rgb(251, 215, 215);
}
.like:hover{
    background: rgba(156, 31, 64, 0.2);
}
.like:active{
    background: rgba(255, 44, 100, 0.292);
}
.delete{
    width: 400px;
    padding:10px;
    font-size:25px;
    background: rgba(255, 23, 23, 0.731);
}
.delete:hover{
    background: rgba(254, 1, 1, 0.872);
}


@media (max-width: 900px){
    .grid {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
    }
}
