.title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: Verdana, Geneva, sans-serif;
}
.grid{
  font-family: Arial, sans-serif;
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(3,420px);
  padding: 60px;
}
.card{
  border: 2px solid #6e6e6ee2;
  border-radius: 12px;
  padding: 12px;
  background: white;
  transition: 0.6s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.187);
}
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1), 0 0 15px rgba(55, 13, 13, 0.42);
}
